<footer class="footer">
    <div class="container">
        <div class="app-info">
            <p>{{footer.nameapp}}</p>
            <p>{{footer.version}}</p>
            <p>{{footer.description}}</p>
        </div>
        <div class="container">
            <div class="contact-info">
                <p>{{footer.abdelhadi}}</p>
                <p>{{footer.emaildev}} ja_hadji@esi.dz </p>
                <p>{{footer.phonedev}} 0540932631</p>
            </div>
            <div class="contact-info">
                <p>{{footer.massinissa}}</p>
                <p>{{footer.emaildev}} hm_siahmed@esi.dz</p>
                <p>{{footer.phonedev}} 0674073925</p>
            </div>
            <div class="contact-info">
                <p>{{footer.aymen}}</p>
                <p>{{footer.emaildev}} ja_adjlane@esi.dz</p>
                <p>{{footer.phonedev}} 0542160053</p>
            </div>
        </div>    
    </div>
    <div class="copyright">
        <p>&copy; {{currentYear}} {{footer.nameapp}}</p>
    </div>
</footer>
