<header class="header">
    <div class="container">
        <a href="/" class="logo">{{header.chou}}</a>
        <select onchange="functChange(this)">
            <option>🌍</option>
            <option value="fr">{{header.fr}}</option>
            <option value="en">{{header.en}}</option>
            <option value="ar">{{header.ar}}</option>
        </select>
        {{!-- <button onclick="functChange()">change language to english</button> --}}
        <div class="header-buttons">
            {{#if isSignupPage}}
                <button onclick="location.href='/login'">{{header.login}}</button>
            {{else}}
                <button onclick="location.href='/signup'">{{header.signup}}</button>
            {{/if}}
        </div>
    </div>
</header>


<script>
    const mySelect = document.getElementsByTagName("select")

    function functChange(selectObject) {
        console.log(selectObject.value)
        document.cookie = "i18next=" + selectObject.value + "; path=/";
        history.go()
    }
</script>